@using CarManagement.Core.Models.DTOs
@model IEnumerable<DoorDto>

<div>
    <h4>DOORS:</h4>
    <table>
        <tr>
            <th align="center" width="30px">Nº</th>
            <th align="center">IsOpen</th>
        </tr>
        <tbody>
            @{DoorDto[] doors = this.Model.ToArray(); }
            @for (int i = 0; i < doors.Length; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td align="center">@doors[i].IsOpen</td>
                </tr>
            }
        </tbody>
    </table>
</div>
