@using CarManagement.Core.Models.DTOs
@model EngineDto

<div>
    <h4>Engine</h4>
    <ul>
        <li>
            Horse power: @this.Model.HorsePower
        </li>
        <li>
            Started engine: @this.Model.IsStarted
        </li>
    </ul>
</div>
