@model CarManagement.Core.Models.DTOs.EngineDto

<div>
    <h4>Engine:</h4>
    <div>
        <p><b>Horse Power:</b> @this.Model.HorsePower.ToString()</p>
        <p><b>IsStarted:</b> @this.Model.IsStarted.ToString()</p>
    </div>
</div>
