@using CarManagement.Core.Models.DTOs
@model IEnumerable<WheelDto>

<div>
    <h4>WHEELS:</h4>
    <table>
        <tr>
            <th align="center" width="30px">Nº</th>
            <th align="center">Pressure</th>
        </tr>
        <tbody>
            @{WheelDto[] wheels = this.Model.ToArray(); }
            @for (int i = 0; i < wheels.Length; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td align="center">@wheels[i].Pressure</td>
                </tr>
            }
        </tbody>
    </table>
</div>
