@using CarManagement.Core.Models
@model IEnrollment

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleted vehicle</h2>

<p>
    @Html.ActionLink("Index", "Index")
</p>

<h1>You have done it.</h1>

<p>
    @Html.ActionLink("Index", "Index")
</p>