@using CarManagement.Core.Models
@model IEnrollment

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete vehicle</h2>

<p>
    @Html.ActionLink("Index", "Index")
</p>

<h1>YOU SURE?</h1>
@using (Html.BeginForm("Deleted", "Vehicles", FormMethod.Post))
{
    <input type="text" value="@this.Model.Serial" name="serial" readonly />
    <input type="text" value="@this.Model.Number" name="number" readonly />
    <br />
    <br />
    <input type="submit" value="YES!" />
    @Html.ActionLink("uhm... I guess no", "Index")
}