@using CarManagement.Core.Models.DTOs
@model EnrollmentDto

@{
    ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleted vehicle</h2>

<p>
    @Html.ActionLink("Go back", "Index")
</p>
