@using CarManagement.Core.Models

@model IVehicle

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h3>@ViewBag.Title</h3>

    <table>
        <tr>
            <th>Enrollment</th>
            <td>
                @{
                    string enrollment = $"{Model.Enrollment.Serial} - {Model.Enrollment.Number.ToString("0000")}";
                }
                @enrollment
            </td>
        </tr>
        <tr>
            <th>Engine  </th>
            <td>
                @{
                    int engine = Model.Engine.HorsePower;
                }
                @engine
            </td>
        </tr>
        <tr>
            <th>Color  </th>
            <td>
                @{
                    CarColor color = Model.Color;
                }
                @color
            </td>
        </tr>
        <tr>
            <th>Doors</th>
            <td>
                @{
                    int numDoors = Model.Doors.Count();
                }
                @numDoors
            </td>
        </tr>
        <tr>
            <th>Wheels</th>
            <td>
                @{
                    int numWheels = Model.Wheels.Count();
                }
                @numWheels
            </td>
        </tr>
    </table>

