@using CarManagement.Core.Models.DTOs
@model VehicleDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicle details</h2>

<p>
    @Html.ActionLink("Go back", "Index")
</p>



<p>
    @Html.ActionLink("Go back", "Index")
</p>