@using CarManagement.Core.Models.DTOs
@model CarManagement.Core.Models.DTOs.VehicleDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Details</h2>

@Html.DisplayFor(Model => Model, "Vehicle")



<p>
    @Html.ActionLink("Edit", "Edit", new {
    serial = this.Model.Enrollment.Serial,
    number = this.Model.Enrollment.Number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
