@using.System.Linq

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<table>
    <tr>
        <td>
            
        </td>
    </tr>
</table>

