@using CarManagement.Core.Models.DTOs
@model VehicleDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Vehicle</h2>

<p>
    @Html.ActionLink("Index", "Index")
</p>

@using (Html.BeginForm("Edit", "Vehicles", FormMethod.Post))
{
    @Html.DisplayFor(model => model, "VehicleForm")
}

<p>
    @Html.ActionLink("Index", "Index")
</p>
