@using CarManagement.Core.Models.DTOs
@model IEnumerable<CarManagement.Core.Models.DTOs.VehicleDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Actions</th>
    </tr>

    @foreach (VehicleDto vehicle in this.Model)
    {
        string enrollment = $"{@vehicle.Enrollment.Serial} - {@vehicle.Enrollment.Number.ToString("0000")}";
        var enrollmentParameters = new { serial = vehicle.Enrollment.Serial, number = vehicle.Enrollment.Number };

        <tr>
            <td>@Html.ActionLink(enrollment, "Detail", enrollmentParameters)</td>

            <td>
                @Html.ActionLink("Edit", "Edit",  enrollmentParameters) |
                @Html.ActionLink("Delete", "Delete", enrollmentParameters)
            </td>
        </tr>
    }
      
</table>
