@using CarManagement.Core.Models

@model IEnumerable<IEnrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Actions</th>
    </tr>

    @foreach (IEnrollment enrollment in this.Model)
    {
        var data = new
        {
            serial = enrollment.Serial,
            number = enrollment.Number
        };
        <tr>
            <td>@Html.ActionLink($"{@enrollment.Serial} - {@enrollment.Number.ToString("0000")}","View", data)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", data) |
                @Html.ActionLink("Delete", "Delete", data)
            </td>
        </tr>
    }

</table>
