@using CarManagement.Core.Models

@model IEnumerable<IEnrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Actions</th>
    </tr>

    @foreach (IEnrollment enrollment in this.Model)
    {
        string enrollmentFinal = $"{enrollment.Serial} - {enrollment.Number.ToString("0000")}";
        var paramsEnrollment = new
        {
            serial = enrollment.Serial,
            number = enrollment.Number
        };
        <tr>
            <td>
                @Html.ActionLink(enrollmentFinal, "Details", paramsEnrollment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", paramsEnrollment) |
                @Html.ActionLink("Delete", "Delete", paramsEnrollment)
            </td>
        </tr>
    }

</table>
