@using CarManagement.Core.Models

@model IEnumerable<IVehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Actions</th>
    </tr>

    @foreach (IVehicle vehicle in this.Model)
    {
        string enrollment = $"{vehicle.Enrollment.Serial} - {vehicle.Enrollment.Number.ToString("0000")}";
        var paramsEnrollment = new
        {
            serial = vehicle.Enrollment.Serial,
            number = vehicle.Enrollment.Number
        };
        <tr>
            <td>
                @Html.ActionLink(enrollment, "Details", paramsEnrollment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", paramsEnrollment) |
                @Html.ActionLink("Delete", "Delete", paramsEnrollment)
            </td>
        </tr>
    }

</table>
