@using CarManagement.Core.Models.DTOs

@model VehicleDto

@{
    ViewBag.Title = $"Vehicle {Model.Enrollment.Serial}-{Model.Enrollment.Number}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    @Html.DisplayFor(model => model, "Vehicle")
    <hr />
    <dl class="dl-horizontal"></dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { serial = Model.Enrollment.Serial, number = Model.Enrollment.Number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
