@using CarManagement.Core.Models.DTOs
@model IEnumerable<DoorDto>

<div>
    <h4>DOORS:</h4>
    <table>
        <tr>
            <th align="center" width="30px">Nº</th>
            <th align="center">IsOpen</th>
        </tr>
        <tbody>
            @for (int i = 0; i < Model.ToArray().Length; i++)
            {
            <tr>
                <td>@(i + 1)</td>
                <td>@Html.CheckBoxFor(Model => Model.ToArray()[i].IsOpen)</td>
            </tr>
            }
        </tbody>
    </table>
</div>
