@model CarManagement.Core.Models.DTOs.EngineDto

<div>
    <h4>Engine:</h4>
    <div>
        <p><b>Horse Power:</b> @Html.TextBoxFor(Model => Model.HorsePower)</p>
        <p><b>IsStarted:</b> @Html.CheckBoxFor(Model => Model.IsStarted)</p>
    </div>
</div>
