<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CarManagerConnectionString" value="Server=localhost\SQLEXPRESS;Database=CarManagement;User Id=test2;Password=123456;MultipleActiveResultSets=True"/>
  </appSettings>
</configuration>