<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CarManagerConnectionString" 
         value="Data Source=localhost\SQLEXPRESS;Initial Catalog=CarManagement;User ID=test;Password=123456"/>
    <add key="CreationScriptFile" value="database-creation.sql"/>
    <add key="DestructionScriptFile" value="database-drop.sql"/>
    <add key="scriptsFolder" value="Scripts"/>
  </appSettings>
</configuration>