<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CarManagerConnectionString" value="Server=localhost\SQLEXPRESS;Database=CarManagement;User Id=test;Password=123456; MultipleActiveResultSets=True;"/>
    <add key="CreationScriptFile" value="database-creation.sql"/>
    <add key="DestructionScriptFile" value="database-drop.sql"/>
    <add key="scriptsFolder" value="Scripts"/>
  </appSettings>
</configuration>