@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Antonio Brotons Pastor<br />
    Elche, Alicante<br />
    <abbr title="Phone">P:</abbr>
    652 59 68 37
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:f.navarronicolas@gmail.com">f.navarronicolas@gmail.com</a><br />
    <strong>Of Party:</strong> <a href="mailto:SodenPlayer@gmail.com">SodenPlayer@gmail.com</a>
</address>