@{
    ViewBag.Title = "Contact";
  
}
<h2>@ViewBag.Title.</h2>


<address>
    Everis Becarios Tm<br />
    C/ Britania, 36-38, 1ª planta (Esq, Carrer Escultor José Gutierrez, 2-4, 03540 Alacant<br />
    <abbr title="Phone">Phone:</abbr>
    690228230
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">xyztresd@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">xyztresd@gmail.com</a>
</address>